# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Environment variables
.env

# macOS files
.DS_Store

# Python specific cache files
*.pyo
*.pyd

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Requirements
pip-log.txt

